@use '~@angular/material' as mat;
@import '~@angular/material/theming';

// http://mcg.mbitson.com/#!?erminas=%23ef7c00

@include mat.core();
// light theme start
$md-app: (
        50 : #fdefe0,
        100 : #fad8b3,
        200 : #f7be80,
        300 : #f4a34d,
        400 : #f19026,
        500 : #ef7c00,
        600 : #ed7400,
        700 : #eb6900,
        800 : #e85f00,
        900 : #e44c00,
        A100 : #ffffff,
        A200 : #ffe2d8,
        A400 : #ffbda5,
        A700 : #ffaa8b,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
$md-accent: (
        50 : #eff7fb,
        100 : #d8eaf6,
        200 : #bedcf0,
        300 : #a4ceea,
        400 : #91c4e6,
        500 : #7db9e1,
        600 : #75b2dd,
        700 : #6aaad9,
        800 : #60a2d5,
        900 : #4d93cd,
        A100 : #ffffff,
        A200 : #f6fbff,
        A400 : #c3e3ff,
        A700 : #a9d7ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
$md-warning: (
        50 : #fffaed,
        100 : #fff4d1,
        200 : #ffecb3,
        300 : #ffe494,
        400 : #ffdf7d,
        500 : #ffd966,
        600 : #ffd55e,
        700 : #ffcf53,
        800 : #ffca49,
        900 : #ffc038,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #fff5e1,
        A700 : #ffedc8,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
$app-primary: mat.define-palette($md-app);
// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette($md-warning);
$app-accent: mat.define-palette($md-accent);
$theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);


@include mat.all-component-themes($theme);
// light theme end

// material overrides
