@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/500.css";
@import "~@fontsource/material-icons/index.css";

body {
  font-family: var(--font-family);
}

.d-flex {
  display: flex;

  &.h-center {
    justify-content: center;
  }

  &.v-center {
    align-items: center;
  }

  &.h-end {
    justify-content: flex-end;
  }

  &.h-start {
    justify-content: flex-start;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.column {
    flex-direction: column;
  }
}
